"" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Find more examples here: https://jb.gg/share-ideavimrc
" Don't use Ex mode, use Q for formatting.
map Q gq

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map <leader>d to start debug
map <leader>d <Action>(Debug)

" Idea Settings
set matchpairs=(:),{:},[:],<:>,":",':'
set smd=on
set idearefactormode=keep
set gd=on
set multiple-cursors

" Emulated Plugins
" not used
" set commentary

" Use Idea to join lines smartly
" not used
" set ideajoin

" Paste from register "0 by default
" currently not working!
" :nnoremap <expr> p (v:register ==# '"' ? '"0' : '') . 'p'
" :nnoremap <expr> P (v:register ==# '"' ? '"0' : '') . 'P'
" :xnoremap <expr> p (v:register ==# '"' ? '"0' : '') . 'p'
" :xnoremap <expr> P (v:register ==# '"' ? '"0' : '') . 'P'

"" -- Handlers --
" copy
sethandler <C-C> a:ide
" find
sethandler <C-F> a:ide
" commit
sethandler <C-K> a:ide
" show tooltip
sethandler <C-Q> a:ide
" replace
sethandler <C-R> a:ide
" save all
sethandler <C-S> a:ide
" paste
sethandler <C-V> a:ide
